<div class="collapse in" id="collapseVols">
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4"><h4>Volume List</h4></div>
				<div class="col-sm-2"></div>
				<div class="col-sm-3">
					<div class="input-group pull-right"> 
					<span class="input-group-addon">Filter</span>
					<input ng-model="searchVolText['volume-id-attributes'].name" class="form-control" placeholder="Filter volumes here...">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="btn-group pull-right">
						<button type="button" 
							class="btn btn-default dropdown-toggle" 
							data-toggle="dropdown"
							aria-expanded="false">Actions <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li title="Select Volume First" ng-class="{disabled:selectedVol == null}"><a data-target="#createModal" data-toggle="modal"">New Snapshot</a></li>
							<li><a ng-click="toggleSnapPanel(false)" id="toggleSnapPanel" >Show Snapshot Panel</a></li>
							<li class="divider"></li>
							<li><a ng-click="loadVols()">Refresh Volumes</a></li>
						</ul>
					</div>
					
					<div class="btn-group pull-right">
						<button type="button"
							class="btn btn-default dropdown-toggle"
							data-toggle="dropdown"
							aria-expanded="false">{{ selectedEnv.name }} <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu" >
								<li ng-repeat="env in envs">
									<a ng-click="$parent.selectedEnv = env; loadVols()">{{ env.name }}</a>
								</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group panel-fixed panel-full" id="volumePanel">
		<!-- list-group-header -->
		<a class="list-group-item">
			<div class="container-fluid" ng-hide="vols == []">
				<div class="row"><b>
				<div class="col-sm-6">Name</div>
				<div class="col-sm-2">Snapshots</div>
				<div class="col-sm-2">Created</div>
				<div class="col-sm-1">Size</div>
				<div class="col-sm-1">Used</div>
				</b></div>
			</div>
		</a>
		<a class="list-group-item " 
			ng-repeat="vol in vols | filter: searchVolText as volResults" 
			ng-click="$parent.selectedSnap = null; 
				$parent.selectedVol = vol; 
				loadSnaps(); 
				toggleSnapPanel(true)"
			ng-class="{active:selectedVol == vol}" >
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">{{vol['volume-id-attributes'].name}}</div>
					<div class="col-sm-2">{{vol['volume-snapshot-attributes']['snapshot-count']}}</div>
					<div class="col-sm-2">{{vol['volume-id-attributes']['creation-time'] * 1000 | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
					<div class="col-sm-1">{{vol['volume-space-attributes']['size-total'] | bytesToSize }}</div>
					<div class="col-sm-1" ng-class="{sizewarning : (vol['volume-space-attributes']['size-used'] / vol['volume-space-attributes']['size-total']) >= 0.9 }">{{vol['volume-space-attributes']['size-used'] | bytesToSize }}</div>
				</div>
			</div>
		</a>
		<div class="container-fluid" ng-if="volResults.length == 0"><strong>No results found.</strong></div>
		
	</div>
</div>
</div>